<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Web App Category"
            id="com.microsoft.azuretools.webapp.category.webAppCategory">
      </category>
       <command
            name="Deploy to Azure App Service"
            categoryId="com.microsoft.azuretools.webapp.category.webAppCategory"
            id="com.microsoft.azuretools.webapp.commands.deployToAzure">
       </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.microsoft.azuretools.webapp.commands.deployToAzure"
            class="com.microsoft.azuretools.webapp.handlers.DeployToAzureHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
           
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	      <menu
               label="Azure"
               mnemonic="M"
               id="com.microsoft.azuretools.webapp.menus.Azure">
		      <command 
		      		label="Publish as Azure Web App..."
		      		commandId="com.microsoft.azuretools.webapp.commands.deployToAzure"
		        	style="push" 
		        	mnemonic="L">
		      </command>
		      <visibleWhen checkEnabled="false">
			    <with 
				variable="selection">
				<count value="1"/> 
					<iterate 
						operator="or">
						<adapt type="org.eclipse.core.resources.IProject">
	            		</adapt>
					</iterate> 
		    	</with>
			    </visibleWhen>
		  </menu>
      </menuContribution>
   </extension>

</plugin>
