<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
         <contexts file="contexts.xml">
         </contexts>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="com.microsoftopentechnologies.wacommon.startup.WACPStartUp"/>
   </extension>
    <!-- Azure preference page -->
   <extension point = "org.eclipse.ui.preferencePages">
    <page
       	id="com.persistent.ui.preferencepage.windowsazure"
       	class="com.microsoftopentechnologies.wacommon.preference.WindowsAzurePreferencePage"
       	name="Azure">
    </page>
   </extension>

   <!-- Views -->
 <extension
       point="org.eclipse.ui.views">
    <category
          id="com.gigaspaces.azure"
          name="Azure">
    </category>
    <view
          category="com.gigaspaces.azure"
          class="com.gigaspaces.azure.views.WindowsAzureActivityLogView"
          icon="icons/RoleFolder.gif"
          id="com.gigaspaces.azure.views.WindowsAzureActivityLogView"
          name="Azure Activity Log">
    </view>
 </extension>

  <!-- Toolbar Dropdown Menu -->
   <extension point="org.eclipse.ui.commands">
      <category id="com.microsoft.ui.dropdown.category" name="Publish DropDown"></category>
      <command categoryId="com.microsoft.ui.dropdown.category" id="com.microsoft.ui.dropdown.command" name="Publish">
         <commandParameter id="com.microsoft.ui.dropdown.msg" name="DropDown Options" optional="true"></commandParameter>
      </command>
   </extension>
   
   <!-- Icons for dropdown -->
   <extension point="org.eclipse.ui.commandImages">
      <image commandId="com.microsoft.ui.dropdown.command" icon="icons/publish.png"></image>
   </extension>
   
   <!-- Handlers for dropdown -->
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.microsoft.ui.dropdown.command" class="com.persistent.util.DropDownHandler"></handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar id="com.persistent.ui.toolbar">
            <command commandId="com.microsoft.ui.dropdown.command" id="com.microsoft.ui.dropdown.toolbar.command"
            style="pulldown" tooltip="Publish"/>
            
            <command
				commandId="com.microsoft.azuretools.eclipse.ui.WANewCertificate"
				icon="icons/small/newCert.png"
                label="New Self Signed Certificate"
				tooltip="New Self Signed Certificate"
				style="push">
			</command>
			<command
                commandId="com.microsoft.azuretools.eclipse.ui.AzureSamplesCmd"
                icon="icons/small/CodeSamples_16.png"
                label="Azure Code Samples"
                tooltip="Azure Code Samples"
                style="push">
			</command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
        <category
            name="Microsoft Azure"
            id="AzureManagePlugin.commands.MicrosoftAzureCategory">
        </category>
        <command
            name="Sign In..."
            categoryId="AzureManagePlugin.commands.MicrosoftAzureCategory"
            id="AzureManagePlugin.commands.signInCommand">
        </command>
        <command
            name="Sign Out..."
            categoryId="AzureManagePlugin.commands.MicrosoftAzureCategory"
            id="AzureManagePlugin.commands.signOutCommand">
        </command>      
        <command
            name="Select Subsriptions"
            categoryId="AzureManagePlugin.commands.MicrosoftAzureCategory"
            id="AzureManagePlugin.commands.selectSubsriptionsCommand">
        </command>
    </extension>
   
    <extension
         point="org.eclipse.ui.handlers">
        <handler
            commandId="AzureManagePlugin.commands.signInCommand"
            class="com.microsoft.azuretools.eclipse.handlers.SignInCommandHandler">
        </handler>
        <handler
            commandId="AzureManagePlugin.commands.signOutCommand"
            class="com.microsoft.azuretools.eclipse.handlers.SignOutCommandHandler">
        </handler>
        <handler
            commandId="AzureManagePlugin.commands.selectSubsriptionsCommand"
            class="com.microsoft.azuretools.eclipse.handlers.SelectSubsriptionsCommandHandler">
            <enabledWhen>
                <reference definitionId="when.is.signed.in"/>
            </enabledWhen>
        </handler>
        <handler
            class="com.microsoft.azuretools.eclipse.ui.WANewCertificate"
            commandId="com.microsoft.azuretools.eclipse.ui.WANewCertificate">
        </handler>
	    <handler
            class="com.microsoft.azuretools.eclipse.ui.AzureSamples"
            commandId="com.microsoft.azuretools.eclipse.ui.AzureSamplesCmd">
        </handler>
    </extension>
<!--   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="AzureManagePlugin.commands.azureCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
-->   
    <extension
        point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                label="Tools"
                mnemonic="t"
                id="AzureManagePlugin.menus.tools"/>
        </menuContribution>
        <menuContribution
            locationURI="menu:AzureManagePlugin.menus.tools">
            <menu
                label="Azure"
                mnemonic="A"
                id="AzureManagePlugin.menus.microsoftAzureMenu">
                <command
                    commandId="AzureManagePlugin.commands.selectSubsriptionsCommand"
                    mnemonic="S"
                    id="AzureManagePlugin.menus.selectSubsriptionsMenu">
                </command>
                <separator visible="true" name="signIn"/>
                <command
                      commandId="AzureManagePlugin.commands.signInCommand"
                      mnemonic="S"
                      id="AzureManagePlugin.menus.signInMenu">
                      <visibleWhen>
                        <not>
                            <reference definitionId="when.is.signed.in"/>
                        </not>
                      </visibleWhen>
                </command>
                <command
                    commandId="AzureManagePlugin.commands.signOutCommand"
                    mnemonic="S"
                    id="AzureManagePlugin.menus.signOutMenu">
                   <visibleWhen>
                        <reference definitionId="when.is.signed.in"/>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>        
    </extension>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
            class="com.microsoft.azuretools.eclipse.testers.AuthPropertyTester"
            id="com.microsoft.azuretools.eclipse.testers.propertyTester"
            namespace="com.microsoft.azuretools.eclipse.testers"
            properties="isSignedIn"
            type="java.lang.Object">
        </propertyTester>
    </extension>
    <extension 
        point="org.eclipse.core.expressions.definitions">
        <definition id="when.is.signed.in">
            <test
                property="com.microsoft.azuretools.eclipse.testers.isSignedIn"
                forcePluginActivation="true">
            </test>
        </definition>
    </extension>
</plugin>
